**/Anaconda3-2023.07-2-Linux-x86_64.sh
**/Statistical_Learning_S1.pdf
**.pdf
**/datos
/GreiBD/
**GreiBD/
**greiBDServerBase/
**greiBDServerBase2/
/ofertaTFMs
**.deb
**.run
**/not_git
0
contrasinal*
**/Temas-5-6-Spark-Flink
**.tar.gz